$color-white-1: #fff;
$color-blue-1: #006aa6;
$color-blue-2: #00324e;
$color-blue-3:  rgb(51, 151, 207);
$color-gray-1: #dfdfdf;
$color-gray-2: rgba(0, 0, 0, 0.4);
$color-transparent: rgba(255, 255, 255, 0);
$color-black-translucent: rgba(0, 0, 0, 0.7);
