.form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    .form-title {
        text-align: center;
        font-size: 20px;
    }
    .form-field {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .form-input,
    .form-textarea {
        border: 1px solid $color-gray-1;
        border-radius: 4px;
        font-size: 12px;
        line-height: 20px;
    }
    .btn-container {
        display: flex;
        .btn {
            margin-top: 20px;
            border: 1px solid $color-gray-1;
        }
        .cancel-btn {
            margin-left: auto;
            margin-right: 10px;
        }
    }
}